<h1>Tenants</h1>

<a href="/tenants/new">Novo Tenant</a>

<table>

<tr>
<th>Nome</th>
<th>Plano</th>
<th>Agente</th>
<th>Ações</th>
</tr>

<% tenants.forEach(t => { %>

<tr>

<td><%= t.name %></td>
<td><%= t.plan %></td>
<td><%= t.agentName %></td>

<td>

<a href="/tenants/edit/<%= t.id %>">Editar</a>

<a href="/tenants/delete/<%= t.id %>">Excluir</a>

</td>

</tr>

<% }) %>

</table>
